# Python
venv/
__pycache__/
*.pyc
*.pkl

# Node.js / React
node_modules/
dist/
build/

# Environment & config
.env
*.log

# Data files (optional, agar large hai to ignore kar)
*.csv
*.xlsx
*.tsv
*.json

# System files
.DS_Store
Thumbs.db
